; English
; =======

[0]
start = 0.4
end = 3.55
lang = "en"
text = "Just a missed call,\nnumber not shown."

[1]
start = 3.7
end = 7.8
lang = "en"
text = "Sales-call most likely,\nbut caller unknown."

[2]
start = 8.1
end = 12.1
lang = "en"
text = "But wait, there's a text!\nI'll look at that next."

[3]
start = 12.7
end = 15.8
lang = "en"
text = "We miss you so much!\nPlease come back soon!"
format = 2

[4]
start = 16.0
end = 19.05
lang = "en"
text = "Come visit again;\nwhy not this afternoon!"
format = 2

[5]
start = 19.4
end = 24.1
lang = "en"
text = "Come shopping with haste,\nor your points go to waste!"
format = 2

[6]
start = 25.05
end = 26.8
lang = "en"
text = "If you're still not convinced,"
format = 2

[6b]
start = 26.9
end = 28.6
lang = "en"
text = "then we think you'll concur"
format = 2

[7]
start = 29.0
end = 32.35
lang = "en"
text = "that here's a great deal:\nfor each friend you refer"
format = 2

[8]
start = 32.9
end = 37.1
lang = "en"
text = "your point's we will double\nas thanks for your trouble"
format = 2

[9]
start = 38.0
end = 41.85
lang = "en"
text = "Delete. Yes, confirm.\nNow that that's done"

[10]
start = 42.1
end = 46.0
lang = "en"
text = "next on the task list\nis dinner for one."

[11]
start = 46.7
end = 51.4
lang = "en"
text = "What use is a phone\nif you're always alone?"
